<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/processing.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="post" action="/result">
      <textarea type="text" name="base64Content" placeholder="Check your snippet"></textarea> </br>
      <button  >DECODE </button>
    </form>

  </body>
</html>
